body {
  background-color: #D4B4DE;
  font-family: helvetica;
}

a {
  text-decoration: none;
  color: purple;
}

a:hover {
  background-color: #D4B4DE;
  border-radius: 3px;
}

#logo img {
  height: 80px;
  width: auto;
}

.node-article {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px;
}

#secondary-menu {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px;
}
