/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* HTML element (SMACSS base) rules */
@import "normalize.css";

/* Layout rules */
@import "layouts/responsive.css";

/* Component (SMACSS module) rules */
@import "components/misc.css";
/* Optionally, add your own components here. */
@import "print.css";

/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */


body {
	background: #F5F5F5;
	color: #333;
	font-size: 14px;
	line-height: 1.5;
	font-family: Helvetica, Verdana, Arial, sans-serif;
}
p {
	margin-top: 2px;
	margin-bottom: 5px; 
}
article {
	padding-bottom: 3%; 
}
.field-type-text-with-summary p {
	background: #ededed;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 2em;
}

#block-user-login {
	background: #ededed;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 1em;	
}

#search-block-form {
	z-index: 10;  
	position: absolute;  
	right: 0;  
	top: 0;
}

/*a, a:link {
	color: #e54739;
	text-decoration: none; 
}
a:hover {
	text-decoration: underline;
}*/
