body {
  background-image: url(http://az616578.vo.msecnd.net/files/2016/07/08/636036012404719888-444371541_339410.jpg);
  color: #fff;
  font-family: "Georgia";
}
a {
    color: #fffc4c;
}
a:visited {
    color: #45b1f9;
}
.breadcrumb {
    display: none;
}
img {
    margin-top: 20px;
}
.field-name-field-photo2 {
    display: none;
}
.field-label {
    margin-top: 1%;
    text-align: center; 
}
