h1,
h2 {
    font-family: 'Molle', cursive;
}

h1 {
    font-size: 3em;;
    text-shadow: 2px 2px white;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: papayawhip;
}

a:visited,
a:active,
a:link {
    text-decoration: none;
}

a {
    color: black;
}

a:hover {
    color: #3B8DA8;
}

hgroup.with-logo {
    clear: none;
    display: inline;
    float: left;
    margin-left: 10px;
}

#site-name {
    font-size: 3em;
    font-family: 'Molle', cursive;
    margin-top: 1em;
}

#logo {
    display: inline;
    float: left; }

#site-slogan {
 font-size: 1.2rem;
 padding-left: 10em;
}

/*Login Region*/
#login {
    float: right;
}

#sidebar-first {
    float: left;
    width: 15em;
}

#sidebar-second {
    float: right;
    width: 15em;
}

#content {
    margin-left: 16em;
    margin-right: 16em;
}
