body {
  font-family: "Avenir Condensed";
  background-color: #303040;
  text-align: center;
  border-radius: 30px;
}

#navigation {
  width: -10%;
  background-color: #359cdf;
  border-right: 20px;
  border-left: 20px;
  border-radius: 30px;
}

#logo {
  position:absolute;
  height:200px;
  width:200px;
  background-color:orange;
  padding: 20px;
  margin: 200px 200px;
  opacity: 1;
}
