body {
  background-color: #8aacb8;
}

.header__name-and-slogan {
  margin-left: 5px;
  margin-top: 15px;
}

#logo {
  margin-top: 15px;
}

.header {
  background-color: grey;
  margin-left: -45px;
  margin-right: -45px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.header__site-slogan {
  color: #323232;
}

.node-article {
  border-style: solid;
  margin-bottom: 5px;
  padding:5px 5px 5px 5px;
}

#block-system-powered-by {
  background-color: grey;
  margin-left: -25px;
  margin-right: -25px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-style: outset;
}

#block-system-powered-by  span {
  color: green;
  text-align: center;
  padding: 5px;
}

.node-title a {
  color: #4c4ca5;
}
