/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* HTML element (SMACSS base) rules */
@import "normalize.css";

/* Layout rules */
@import "layouts/responsive.css";

/* Component (SMACSS module) rules */
@import "components/misc.css";
/* Optionally, add your own components here. */
@import "print.css";

/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */
body {
  font-family: sans-serif;
  background-color: #d8cecc;
}
#content {
  text-align: center;
  border-radius: 25px;
  border: 2px solid #4f6561;
}

#header, #logo, #name-and-slogan, #navigation, #sidebar-first, #content, #sidebar-second, #footer {
  border: solid red 1px;
  /*padding: 20px;*/
  margin: 10px;
}
