@import url(https://fonts.googleapis.com/css?family=Roboto|Merriweather);


/*adjust logo*/
#header img {
  height: 85px;
}

html,
body {
  font-family: 'Merriweather', sans-serif;
  color: #482F23;
  height: 100%;
  background: linear-gradient(#D5D1B1, #77846B);
  padding-top: 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.header__site-link span{
  font-family: 'Roboto', sans-serif;
  color: #482F23;
}

.node {
  background: #fff;
  margin: 15px;
  padding: 15px;
  box-shadow: 0 0 6px #77846B;
  border: 2px solid #77846B;
}

#main-menu a {
  text-decoration: none;
  line-height: 1.5;
  height: 100%;
  text-shadow: 1px 2px 2px #77846B;
  font-size: 20px;
  margin-right: 10px;
  color: #482F23;
}
