@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700);
/*General Styles*/

body {
    background-color: #FFFCF9;
    font-family: 'Merriweather Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #0657A8;
}

a:hover {
    color: #086CD1;
}

#page {
    margin: 5% auto;
    padding: 3% 5%;
    background-color: #D6D2D2;
    max-width: 1215px;
    border-radius: 30px;
}

.breadcrumb {
    display: none;
}

#rule p{
    border-bottom: 3px solid #A30B37;
}

/*Header styles */
#header {
    background-color: #A30B37;
    border-radius: 18px;
    padding: 20px;
    margin-bottom: 15px;
}

h1#site-name {
    font-size: 2.2em;
    margin-bottom: 0px;
}

h1#site-name a {
    color: #FFFCF9;
}

div#site-slogan {
    padding-bottom: 20px;
}

/* Navigation Styles */

#navigation h2 {
    display: none;
}

#main-menu ul li {
    margin: 20px;
}

/* Content Styles */


/* Footer Styles */

.region-footer {
    text-align: center;
    background-color: #FFFCF9;
    padding: 5px 0px;
    margin-top: 50px;
}

/* Home Image Slider styles */

div#views_slideshow_cycle_main_featured_slider-block {
    text-align: center;
}

#slider {
    margin-top: 20px;
}
