/*base>color*/
a,
.btn-link,
#styleguide-header a,
#styleguide-header li a.active ,
.text-primary {
  color: #1abc9c;
}
/*base background */
#navbar,
#navbar .navbar-toggle .icon-bar,
#navbar .dropdown-menu,
.bg-primary,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #1abc9c;
}

/*base border-color */
#navbar .navbar-toggle,
.home-features .content-box:hover .icon-box,
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: #1abc9c;
}

/* secondary > color */
a:hover,
a:active,
a:focus,
a.focus,
a.active,
.btn-link:focus,
.btn-link:hover,
.pagination>li>a,
.pagination>li>span,
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover,
.list-group-item.active>.badge,
.nav-pills>.active>a>.badge {
  color: #16a085;
}
/* secondary > background */
.clr-secondary-bg,
.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover,
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover,
.progress-bar,
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover,
.panel-primary>.panel-heading,
.badge,
footer#footer {
  background-color: #16a085;
}
/* secondary > border-color */
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover,
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover,
.panel-primary>.panel-heading,
.panel-primary {
  border-color: #16a085;
}
blockquote {
  border-left-color: #16a085;
}
.blockquote-reverse,
blockquote.pull-right {
  border-right-color: #16a085;
}
/* link color */
.clr-link-color,
.navbar-default .navbar-brand,
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover,
.panel-primary>.panel-heading,
#navbar  .nav>li>a:focus,
#navbar  .nav>li>a:hover,
#navbar  .nav>li>a.active,
#navbar  .nav a:focus,
#navbar  .nav a:hover,
#navbar  .nav a.active,
#navbar .nav>li>a,
#navbar .nav>li>a.menu-highlight,
#navbar .dropdown-menu a,
#navbar .dropdown-menu a:hover,
#navbar .dropdown-menu a.active,
#navbar ,
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover,
footer#footer,
footer#footer a,
footer#footer a:hover,
footer#footer h1,
footer#footer h2,
footer#footer h3,
footer#footer h4,
footer#footer h5,
footer#footer h6,
footer#footer .nav>li>a {
  color: #ffffff;
}
#navbar .navbar-collapse,
#navbar .navbar-form {
  border-color: transparent;
}
#navbar  .nav>li>a:focus,
#navbar  .nav>li>a:hover,
#navbar  .nav>li>a.active,
#navbar  .nav a:focus,
#navbar  .nav a:hover,
#navbar  .nav a.active {
  background: transparent;
}
@media (max-width: 767px) {
  #navbar .navbar-collapse,
  #navbar .navbar-form,
  #navbar .navbar-toggle,
  #navbar .navbar-toggle:hover .icon-bar {
    background-color: #1abc9c;
  }
  #navbar .navbar-toggle .icon-bar,
  #navbar .navbar-toggle:hover {
    background-color: #ffffff;
  }
  #navbar .navbar-toggle {
    border-color: #ffffff;
  }
  #navbar .navbar-toggle:hover {
    border-color: #1abc9c;
  }
}
