/* non-mobile */
@media (min-width: 768px) {
  #navbar .nav {
    float: left;
    margin: 0;
  }
  #navbar .nav li {
    float: left;
  }
}

/* mobile */
@media (max-width: 767px) {
  #navbar {
    max-height: 75px;
  }
  #navbar .navbar-collapse,
  #navbar .navbar-form {
    position: absolute;
    right: 0;
    width: auto;
    min-width: 90%;
    margin-right: 15px;
    height: auto;
    overflow: visible;
    max-height: 1000px;
  }
  ul.nav li.dropdown:hover ul.dropdown-menu li.expanded:hover > ul.dropdown-menu {
    top: 100% !important;
    right: 0 !important;
    left: auto !important;
  }
  #navbar .nav .dropdown > .dropdown-menu {
    left: auto;
    right: 0px;
    width: 100%;
  }
  .footer-section .footer-message {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
  }
  .footer-section .footer-blocks {
    text-align: center;
  }
  .footer-section h2 {
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .home-features {
    padding-bottom: 3px;
    padding-top: 3px;
  }
  .home-features .top-header .title {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  .home-features .top-header .description {
    margin-left: 10px;
    margin-right: 10px;
  }
  .home-features .top-header {
    margin-bottom: 14px;
  }
  .home-features .content-box .icon-box {
    margin-top: 13px;
    height: 65px;
    width: 65px;
    display: inline-block;
    text-align: right;
  }
  .home-features .content-box .icon-inner-box {
    height: 48px;
    width: 48px;
  }
  .home-features .content-box .icon-inner-box i {
    font-size: 2.5em;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
  }
  .home-features .content-boxes .content-boxes-left .title {
    font-size: 1.35em;
    margin-bottom: 8px;
  }
  .home-features .content-boxes .content-boxes-left .description {
    font-size: 1.02em;
  }
  .home-features .content-boxes .content-boxes-right .content-box-right .title {
    font-size: 1.35em;
    margin-bottom: 8px;
  }
  .home-features .content-boxes .content-boxes-right .content-box-right .description {
    font-size: 1.02em;
  }
  .home-features .content-boxes-left .content-box-left {
    float: right;
    padding-left: 25px;
    text-align: left;
  }
  .home-features .content-boxes-right .content-box-right {
    padding-left: 20px;
  }
  .home-features .content-boxes-right .content-box .icon-boxes {
    text-align: right;
    padding-right: 20px;
  }
  .home-features .content-boxes-right .content-right {
    padding-right: 20px;
    padding-left: 20px;
  }


}
