/* --------------------------- */
/* css */
/* --------------------------- */
body.navbar-is-fixed-top {
  padding-top: 0px;
}
body.not-front.navbar-is-fixed-top {
  padding-top: 70px;
}
header#navbar {
  font-family: roboto;
  padding-top: 5px;
  min-height: 60px;
  z-index: 10;
}
body.front header#navbar.navbar-fixed-top.affix-top {
  background-color: transparent;
  transition: all .9s ease-in-out;
  -moz-transition: all .9s ease-in-out;
  -webkit-transition: all .9s ease-in-out;
}
body.front header#navbar.navbar-fixed-top.affix-top .navbar-nav > li > a {
  transition: all .9s ease-in-out;
  -moz-transition: all .9s ease-in-out;
  -webkit-transition: all .9s ease-in-out;  
}
header#navbar.navbar-fixed-top.affix {
  transition: all .9s ease-in-out;
  -moz-transition: all .9s ease-in-out;
  -webkit-transition: all .9s ease-in-out;
}
header#navbar.navbar-static-top {
  position:relative;
}
body.front  header#navbar.navbar-static-top {
  position: absolute;
  margin-bottom: 0px;
  background-color: transparent;
  width: 100%;
  top: 0;
}
header#navbar a.logo {
  margin-top: 10px;
  margin-bottom: 10px;
}
header#navbar a.logo img {
  height: 30px;
}
.header-brown-content {
  background-image: url(
images/css-header-header-brown-main-background.jpg); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height:580px;
}
.header-brown-content  .main-block {
  display: flex;
  align-items: center;
  height: 100%;
}
.header-brown-content  .main-desc{
  margin-top: 5px;
  font-size: 1.2em;
}
.header-brown-content  .main-title-first {
  font-size: 3.5em;
  font-weight: bold;
  line-height: 10px;
}
.header-brown-content  .main-title-second {
  font-size: 7em;
  font-weight: bold;
}

header#navbar nav {
  margin-top:0px;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}
#navbar .nav>li {
  margin-top: 10px;
}

header#navbar .navbar-nav > li > a {
  font-family: roboto;
  font-size: 1.2em;
  font-weight: normal;
  padding-bottom: 8px;
  padding-top: 8px;
  text-transform: uppercase;
}

header#navbar  .navbar-toggle {
  border-radius: 0px;
}


/* --------------------------- */
/* main css */
/* --------------------------- */
.margin-top-20 {
  margin-top: 20px;
}
.content-light-orange {
  font-family: roboto;
  padding-bottom: 30px;
  padding-top: 30px;
}
.content-light-orange .content-text p {
  font-size: 1.1em;
}
.content-light-orange .button-list {
  margin-bottom: 20px;
}
.content-light-orange h1,
.content-light-orange h2,
.content-light-orange h3,
.content-light-orange h4,
.content-light-orange h5,
.content-light-orange h6 {
  margin-bottom: 0px;
}
.content-light-orange .btn-orange {
  font-size: 1.1em;
  font-weight: bold;
}


/* --------------------------- */
/* CSS MAIN */
/* --------------------------- */
footer#footer {
  font-family: 'Roboto', sans-serif;
  padding-bottom:10px;  
  padding-top:10px;
}
footer#footer .footer-menu ul li a{
  padding: 20px 10px;
  font-weight: normal;
  font-size: 1.1em;
}
footer#footer .footer-menu ul li a:hover,
footer#footer .footer-menu ul li a:focus {
  text-decoration: underline;
}
footer#footer .footer-social .block-content {
  height:40px;
}
footer#footer .inline {
  display: block;
  float: left;
}
footer#footer .follow-link-wrapper{
  padding-left: 0;
  width: 45px;
  text-align: center;
  padding-top: 8px;
  height: 45px;
  margin-right: 0px;
  border-radius: 50%;
  display: inline-block;
}
footer#footer .follow-link-wrapper a:hover{
  text-decoration: none;
}
footer#footer .footer-social .block-content {
  display: inline-block;
  float: right;
  padding-top: 10px;
}
footer#footer .follow-link-wrapper a:before{
  font-size: 1.5em;
  font-weight: bold;
  font-family: FontAwesome;
  text-align: center;
  padding-left: 3px;
}
footer#footer .follow-link-wrapper-facebook a:before{
  content: "\f09a";
}
footer#footer .follow-link-wrapper-googleplus a:before{
  content: "\f0d5";
}
footer#footer .follow-link-wrapper-twitter a:before{
  content: "\f099";
}
footer#footer .follow-link-wrapper-linkedin a:before{
  content: "\f0e1";
}


