/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* HTML element (SMACSS base) rules */
@import "normalize.css";

/* Layout rules */
@import "layouts/responsive.css";

/* Component (SMACSS module) rules */
@import "components/misc.css";
/* Optionally, add your own components here. */
@import "print.css";

/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */


@font-face {
    font-family: Daisy;
    src: url(Daisys_Delights.ttf);
}

#logo {
    border: dashed 2px black;
}

body {
    margin-top: 15px;
    background-color: #E1DABD;
}

h2, #site-name, #site-slogan {
    font-family: Daisy;
}

#name-and-slogan {
    width: 70%;
    height: 150px;
    /*background-color: #EACB7E;*/
    margin-left: 3%;
    text-align:center;
    /*border-radius: 5px;*/
    /*border: dashed 2px black;*/
}

#site-name {
    color: #651D0A;
    font-size: 60px;
}

#site-slogan {
    color: #A1674A;
    font-size: 45px;
}

#navigation {
    margin-top: 10px;
    text-align: center;
}

.block-title, .sidebar, .node-article, .node-title, #name-and-slogan, #navigation {
    border: dashed 2px black;
    border-radius: 5px;
    background-color: #EACB7E;
}

.node-title, #navigation, .block-title {
    background-color: #AA8573;
    text-align: center;
}

.node-title {
    font-size: 35px;
}

.block-title {
    margin-top: 1%;
}

.submitted {
    font-style: italic;
    font-size: 10px;
    margin: 1px;
}

.node-article {
    margin-top: 3%;
    padding: 1%;
}

a {
    color: black;
}

a:hover {
    color: #E1DABD;
}

.sidebar {
    margin-top: 3%;
}
