/* ---------- Color form ----------- */
#color_scheme_form #palette .form-item {
  width: 25em;
}
#color_scheme_form #palette .form-item label {
  width: 15em;
}
.color-form {
  width: 100%;
  max-width: 100% !important;
}
/* ---------- Preview Styles ----------- */

#preview {
  font: 0.8em/165% "Lucida Grande","Lucida Sans Unicode",Segoe UI,Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0;
  outline: 0 none;
  vertical-align: baseline;
  background: #ffffff;
  width: 100%;
}
#preview .row {
  width: 100%;
}
#preview .container {
  width: 90%;
  margin: 0 auto;
  clear: both;
}
#preview .text-center {
  text-align: center;
}
#preview-nav {
  background-color: #1abc9c;
  width: 100%;
  clear: both;
  float: left;
  height: 40px;
}
#preview-logos {
  width: 20%;
  float: left;
}
#preview-logos a {
  height: 34px;
  margin-top: 3px;
  background-image: url('logo.png');
  width: 148px;
  display: block;
}
#preview-mainmenu {
  width: 75%;
  float: right;
  text-align: right;
}
#preview-mainmenu ul {
  padding-top: 5px;
}
#preview-mainmenu ul li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}
#preview-mainmenu ul li a {
  color: #ffffff;
  font-size: 15px;
}

#preview-footercopyright {
  background-color: #16a085;
  width: 100%;
  float: left;
  clear: both;
  padding-top: 10px;
  padding-bottom: 10px;
}
#preview .col-xs-4 {
  width: 33%;
  float: left;
}
#preview .col-xs-3 {
  width: 25%;
  float: left;
}
#preview .col-xs-6 {
  width: 50%;
  float: left;
}

#preview-buy {
  background-color: #ffffff;
}
#preview-components {
  padding-bottom: 50px;
  padding-top: 50px;
  width: 100%;
  float: left;
  clear: both;
  color: #494949;
}
#preview-components p {
  color: #494949;
}
#preview .preview-content {
  color: #494949;
}
#preview .clr-base {
  color: #1abc9c;
}
#preview .bdr-clr-secondary {
  border-color: #16a085;
}
#preview .bg-color-base {
  background-color: #1abc9c;
}
#preview fieldset {
  background-color: transparent;
  background-image: none;
  border-color: red;
  color: #494949;
}
#preview button {
  border: none;
  padding: 5px 15px;
  color: #ffffff;
  font-weight: bold;
}
#preview input {
  border: 1px solid;
  padding: 5px;
}
#preview blockquote {
  margin-left: 5px;
  border-left: 5px solid red;
  padding-left: 5px;
}
