body {
    background-color: lightblue;
    font-family: monospace;
}
#header a{
    text-decoration: none;
}
#header {
    background-color: lightslategrey;
}

#site-name a{
    color: black;
}

#logo{
    display: none;
}

#name-and-slogan {
    float: right;
    margin-right: 10px;
}

#navigation h2 {
    display: none;
}

#main-menu li a{
    text-decoration: none;
    border: 1px solid black;
    border-radius: 15px 15px 0px 0px;
    margin: 10px -21px 0px 0px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: lightblue;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.site-name-hover {
    text-shadow: 2px 2px 8px #FF0000;
    text-decoration: underline;
    color: #876543;
}

#navigation {
    border-bottom: 3px solid black;
    background-color: lightslategrey;
}

#secondary-menu li{
    margin-bottom: 15px;
    float: right;
}

/*#content {
    width: 70%;
    float: left;
}*/

/*#sidebar-first {
    float: left;
}*/
