#body {
    background-color: #EDF2F4;
}

.section.clearfix {
    background-color: #2B2D42;
}

#name-and-slogan {
    text-align: center;
    padding-bottom: 7px;
    font-family: Optima;
    color: white;
}

#site-name {
    color: white;
}

h2 {
    color: #EF233C;
    font-family: Helvetica;
}

a {
    color: #8D99AE;
    font-family: Helvetica;
}

p, #page-title.title {
    font-family: Geneva;
}

/*a, a:link {
    color: white;
}*/
